h1{
  font-size: 2rem;
}

input[type="button"], button, .my_button, select{
  cursor: pointer;
  outline: none;
  appearance: none;
  color: #000;
  font-family: "ヒラギノ角ゴシック";
  font-size: 16px !important;
  font-weight: unset;
  border-radius: 4px;
}


input[type="button"], button, .my_button {
  background: #efefef;
  border: 1px solid #333;
  padding: 4px 8px;
  line-height: 1.5rem;
}

select {
  background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
  border: 1px solid #333;
  background-size: 16px 16px;
  box-shadow: none;
  padding: 4px 32px 4px 8px !important;
}

input[type="text"], input[type="password"]{
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
}

.radio-large input[type="radio"] {
    transform: scale(1.2);  /* サイズ拡大 */
    cursor: pointer;
}

form{
  margin: 0;
}

.nav-link-custom{
    color: white !important;
}

.width-content-fit{
    width: 0px;
    white-space: nowrap;
}

.transfer_label{
  width: 110px;
  text-align: right;
  margin-top: 8px;
}

/* タブ全体のスタイル */
#tab .nav-link {
    background-color: transparent;   /* 背景なし */
    border: 1px solid #007bff;      /* 青枠線 */
    border-bottom: none;             /* 下線は消す */
    color: #007bff;
    margin-right: -1px;              /* タブを隣接させる */
    border-radius: .25rem .25rem 0 0; /* 角丸上部のみ */
}

/* 非アクティブタブのホバー */
#tab .nav-link:hover {
    background-color: #e7f1ff;       /* 軽く色を付ける */
}

/* アクティブタブ */
#tab .nav-link.active {
    background-color: #007bff;       /* アクティブは青背景 */
    color: white;                     /* 文字色白 */
    border-color: #007bff;            /* 枠線も青 */
    border-bottom: 1px solid white;   /* 下線消す */
    z-index: 1;                        /* アクティブを前面に */
}

.wrapper{
  width: 85vw;
  max-width: 800px;
  margin: auto;
}

.icon-button {
  background: none;
  border: none;
  padding: 5px 3px 3px 3px;
  cursor: pointer;
}

.eye_icon_img{
  width: 24px;
  height: 24px;
}