h1{
  font-size: 2rem;
}

input[type="button"],
button,
select {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  color: #000;
  font-family: "ヒラギノ角ゴシック";
  font-size: 16px;
  font-weight: unset !important;
}

input[type="button"],
button,
select {
  background: #efefef;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 4px 8px;
  line-height: 1.5rem;
}

/* disabled状態のスタイル */
input[type="button"]:disabled,
button:disabled,
select:disabled {
  background: #ccc; /* グレーの背景色 */
  border: 1px solid #aaa; /* 灰色のボーダー */
  color: #666; /* 灰色の文字色 */
  cursor: not-allowed; /* 無効状態のカーソル */
  opacity: 0.6; /* 少し透明にする (オプション) */
}

select {
  line-height: 2;
  color: #333;
  box-shadow: none;
  padding: 0 24px 0 8px;
  background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
  background-size: 16px 16px;
  cursor: pointer;
}

.nav-link-custom{
    color: white !important;
}

.width-content-fit{
    width: 0px;
    white-space: nowrap;
}

.transfer_label{
  width: 90px;
  text-align: right;
  margin-top: 8px;
}

/* タブ全体のスタイル */
#tab .nav-link {
    background-color: transparent;   /* 背景なし */
    border: 1px solid #007bff;      /* 青枠線 */
    border-bottom: none;             /* 下線は消す */
    color: #007bff;
    margin-right: -1px;              /* タブを隣接させる */
    border-radius: .25rem .25rem 0 0; /* 角丸上部のみ */
}

/* 非アクティブタブのホバー */
#tab .nav-link:hover {
    background-color: #e7f1ff;       /* 軽く色を付ける */
}

/* アクティブタブ */
#tab .nav-link.active {
    background-color: #007bff;       /* アクティブは青背景 */
    color: white;                     /* 文字色白 */
    border-color: #007bff;            /* 枠線も青 */
    border-bottom: 1px solid white;   /* 下線消す */
    z-index: 1;                        /* アクティブを前面に */
}

.wrapper{
  width: 85vw;
  max-width: 800px;
  margin: auto;
}