<div class="modal fade" id="statusModal-{{ member_type }}-{{ member.id }}" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          勤務ステータスの変更（{{ member.name.text }}）
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <form method="post" action="{% url 'info_dispatch' work_date=work_date %}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="row g-2">
            {% for btn in member.status_buttons_modal %}
            <div class="col-4">
              <button type="submit" name="current_status" value="{{ btn.value }}" class="btn {{ btn.btn_class }} w-100">
                {{ btn.label }}
              </button>
            </div>
            {% endfor %}
          </div>
        </div>

        <input type="hidden" name="current_status_edit" value="{{ member.id }}">
        <input type="hidden" name="member_id" value="{{ member.id }}">
        <input type="hidden" name="member_type" value="{{ member_type }}">
        <input type="hidden" name="work_date" value="{{ work_date|date:'Y-m-d' }}">
        <input type="hidden" name="prev_status" value="{{ member.current_status }}">
      </form>
    </div>
  </div>
</div>