<div class="modal fade" id="historyModal-{{ member_type }}-{{ member.id }}" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            変更履歴（{{ member.name }}）
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          {{ member.change_history | linebreaksbr }}
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary" data-bs-dismiss="modal">
            閉じる
          </button>
        </div>
    </div>
  </div>
</div>
