{% load static %}


<div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <div class="{% if member.name.changed %}text-danger{% endif %}">
            {{ member.name.text }}
        </div>

        <button type="button"
            id="{{ member_type }}_change_history-{{ member.id }}"
            class="icon-button"
            data-bs-toggle="modal"
            name="{{ member_type }}_change_history"
            data-bs-target="#historyModal-{{ member_type }}-{{ member.id }}"
            aria-label="更新情報を表示">
        <img src="{% static 'images/eye.svg' %}"
            alt=""
            class="eye_icon_img">
        </button>
        {% if member_type == 'staff' %}
        <img src="{% static 'images/staff.png' %}"
            alt=""
            class="staff_icon_img">
        {% endif %}
    </div>

    <div class="d-flex gap-1 align-items-center">
        {% if place_info.place_id > 0 %}
        <button type="button"
                id="current_status_edit-{{ member_type }}-{{ member.id }}"
                class="btn btn-sm {{ member.current_status_btn_class }} scroll-save"
                name="current_status_edit_{{ member_type }}_{{ member.id }}"
                data-bs-toggle="modal"
                data-bs-target="#statusModal-{{ member_type }}-{{ member.id }}">
            {{ member.current_status_text }}
        </button>
        {% endif %}
        <button type="button"
                class="btn-sm text-nowrap scroll-save"
                onclick="location.href='{% url edit_url_name member.id work_date %}'">
            編集
        </button>
    </div>
</div>

{% if member.record_time %}
    <span class="text-danger">{{member.record_time}}</span>
{% endif %}

{% if member.scheduled_time.text %}
<span class="{% if member.scheduled_time.changed %}text-danger{% endif %}">
    (予定:{{ member.scheduled_time.text }})
</span>
{% endif %}

{% if member.transport.text %}
<div class="{% if member.transport.changed %}text-danger{% endif %}">
    {{ member.transport.text }}
</div>
{% endif %}

<div class="{% if member.remarks.changed %}text-danger{% endif %}">
    {{ member.remarks.text }}
</div>
