<div class="toggle-fields transport-fields mt-3 mb-3">
    <div>
        <label for="{{ form.transport_means.id_for_label }}">
            {{ label }}：
        </label>
        {{ form.transport_means }}
    </div>

    <div class="{{ details_class }}">
        <div>
            <label class="transfer_label"
                for="{{ form.place.id_for_label }}">場所：</label>
            {{ form.place }}
        </div>

        <div>
            <label class="transfer_label"
                for="{{ form.staff.id_for_label }}">送迎スタッフ：</label>
            {{ form.staff }}
        </div>

        <div>
            <label class="transfer_label"
                for="{{ form.remarks.id_for_label }}">備考：</label>
            {{ form.remarks }}
        </div>
    </div>
    <hr class="my-4">
</div>
