<!-- info_no_data.html -->

{% extends 'app/template_base.html' %}

{% block title %}情報一覧{% endblock %}

{% block contents %}

<form action="{% url 'info_dispatch' work_date=work_date %}" method="post">
    {% csrf_token %}
    <p>
        {{ calendar_form.date }}
        <button class="btn-sm" type="submit" name="change_date" value="0">更新</button>
    </p>

    <h2>データが存在しません</h2>

    <button class="btn-sm" id="id_create_data" type="submit" name="create_data"
        value="0"
        {% if not request.user.is_superuser %}
        disabled
        {% endif %}
        >
        データを作成する
    </button>    

</form>

{% endblock %}