<!-- info.html -->

{% extends 'app/template_base.html' %}

{% load static %}

{% block title %}情報一覧{% endblock %}

{% block contents %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // スクロール位置の復元
        const scrollToElementId = sessionStorage.getItem("scrollToElement");
        if (scrollToElementId) {
            const targetElement = document.getElementById(scrollToElementId);
            if (targetElement) {
                targetElement.scrollIntoView({ behavior: "smooth", block: "center" });
            }
            sessionStorage.removeItem("scrollToElement");  // 位置情報をクリア
        }

        // 全体情報の作業内容の「編集」ボタンが押されたときの処理
        document.querySelectorAll("button[name='edit_place_remarks']").forEach(button => {
            button.addEventListener("click", function() {
                sessionStorage.setItem("scrollToElement", this.id);  // ボタンのIDを保存
            });
        }); 

        // 「戻す」ボタンが押されたときの処理
        document.querySelectorAll("button[name='prev_status']").forEach(button => {
            button.addEventListener("click", function() {
                sessionStorage.setItem("scrollToElement", this.id);  // ボタンのIDを保存
            });
        });

        // 「次へ」ボタンが押されたときの処理
        document.querySelectorAll("button[name='next_status']").forEach(button => {
            button.addEventListener("click", function() {
                sessionStorage.setItem("scrollToElement", this.id);  // ボタンのIDを保存
            });
        });

        // 利用者の「編集」ボタンが押されたときの処理
        document.querySelectorAll("button[name='edit_customer']").forEach(button => {
            button.addEventListener("click", function() {
                sessionStorage.setItem("scrollToElement", this.id);  // ボタンのIDを保存
            });
        });    
        
        // スタッフの「編集」ボタンが押されたときの処理
        document.querySelectorAll("button[name='edit_staff']").forEach(button => {
            button.addEventListener("click", function() {
                sessionStorage.setItem("scrollToElement", this.id);  // ボタンのIDを保存
            });
        }); 
    });
</script>

<form action="{% url 'info_dispatch' work_date=work_date %}" method="post">
    {% csrf_token %}
    <p>
        {{ calendar_form.date }}
        <button class="btn-sm" type="submit" name="change_date" value="0">更新</button>
    </p>

    <!-- <div>
        <h3>お弁当</h3>
        <p>食数:{{lunch_info.total_count}}食
            (スタッフ:{{lunch_info.staff_count}}食、利用者:{{lunch_info.customer_count}}食)</p>
        <ul>
            {% for area, info in lunch_info.by_area.items %}
            {% if info.count > 0 %}
            <li>{{ area }}: {{ info.count }}食({{ info.name|join:', ' }})</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div> -->

    <h3 class="mt-5">全体情報</h3>
    <div class="table-responsive-md">
        <table class="table table-bordered">
            <thead class="table-header text-center table-success">
                <tr>
                    <th style="min-width: 130px;">スタッフ</th>
                    <th style="min-width: 130px;">利用者</th>
                    <th style="min-width: 200px;">作業内容など</th>
                </tr>
            </thead>

            <tbody>
                {% for entry in info_by_place %}
                <!-- 場所名 行 -->
                <tr class="table-secondary">
                    <td colspan="3" class="fw-bold">
                        {{ entry.work_place.name }}
                    </td>
                </tr>
                {% if entry.staff_cusotmer_list %}

                {% with entry.staff_cusotmer_list|length as rowspan %}
                {% for staff, customer in entry.staff_cusotmer_list %}
                {% if staff or customer %}
                {% if forloop.first %}
                <tr>
                    <td>
                        {% if staff %}
                        <div>
                            {{ staff.name }}&nbsp;
                            <!-- {% if staff.eats_lunch_here %}
                            <img class="lunch_box_img" src="{% static 'images/lunch_box_icon.jpeg' %}" alt="お弁当">
                            {% if staff.eats_lunch_here == "持参"%}
                            (持参)
                            {% endif %}
                            {% endif %} -->
                        </div>
                        <div>{{ staff.time }}</div>
                        {% endif %}
                    </td>
                    <td>
                        {% if customer %}
                        <div>
                            {{ customer.name }}&nbsp;
                            <!-- {% if customer.eats_lunch_here %}
                            <img class="lunch_box_img" src="{% static 'images/lunch_box_icon.jpeg' %}" alt="お弁当">
                            {% if customer.eats_lunch_here == "持参"%}
                            (持参)
                            {% endif %}
                            {% endif %} -->
                        </div>
                        <div>{{ customer.time }}</div>
                        {% endif %}
                    </td>
                    <td rowspan="{{ rowspan }}">
                        <div class="d-flex justify-content-between align-items-start">
                            {{ entry.remarks | linebreaksbr }}
                            {% if request.user.is_superuser %}
                            <button id="edit_place_remarks_btn-{{ customer.id }}" class="btn-sm text-nowrap" type="submit" name="edit_place_remarks" value="{{ entry.work_place.pk }}">
                                編集
                            </button>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>
                        {% if staff %}
                        <div>
                            {{ staff.name }}&nbsp;
                            <!-- {% if staff.eats_lunch_here %}
                            <img class="lunch_box_img" src="{% static 'images/lunch_box_icon.jpeg' %}" alt="お弁当">
                            {% if staff.eats_lunch_here == "持参"%}
                            (持参)
                            {% endif %}
                            {% endif %} -->
                        </div>
                        <div>{{ staff.time }}</div>
                        {% endif %}
                    </td>
                    <td>
                        {% if customer %}
                        <div>
                            {{ customer.name }}&nbsp;
                            <!-- {% if customer.eats_lunch_here %}
                            <img class="lunch_box_img" src="{% static 'images/lunch_box_icon.jpeg' %}" alt="お弁当">
                            {% if customer.eats_lunch_here == "持参"%}
                            (持参)
                            {% endif %}
                            {% endif %} -->
                        </div>
                        <div>{{ customer.time }}</div>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endwith %}
                {% else %}
                <!-- スタッフも利用者もいない場合 -->
                <tr>
                    <td></td>
                    <td></td>
                    <td>                        
                        <div class="d-flex justify-content-between align-items-start">
                        {{ entry.remarks | linebreaksbr }}
                        {% if request.user.is_superuser %}
                        <button id="edit_place_remarks_btn-{{ customer.id }}" class="btn-sm text-nowrap" type="submit" name="edit_place_remarks" value="{{ entry.work_place.pk }}">
                            編集
                        </button>
                        {% endif %}
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- <h2 id="customers_info" class="mt-5" >利用者情報</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-header text-center table-success">
                <tr>
                    <th style="min-width: 85px;">利用者名</th>
                    <th style="min-width: 50px;">勤務</th>
                    <th style="min-width: 140px;">勤務地</th>
                    <th style="min-width: 140px;">勤務状況</th>
                    <th style="min-width: 70px;">お弁当</th>
                    <th style="min-width: 100px;">朝</th>
                    <th style="min-width: 100px;">帰り</th>
                    {% if request.user.is_superuser %}
                    <th style="width: 0;"></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for customer in info_by_customer %}
                <tr>
                    <td class="text-center">{{ customer.name }}</td>
                    <td class="text-center">{{ customer.status }}</td>

                    <td>
                        {% for place_and_time in customer.places_and_times %}
                        ・{{place_and_time.place}}
                        {% if place_and_time.time %}
                            <br>&nbsp;&nbsp;{{ place_and_time.time }}
                        {% endif %}
                        {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        {{customer.current_status}}<br>
                        {% if customer.current_status %}
                            <button 
                                type="submit" 
                                class="btn-sm mt-2 me-1" 
                                name="prev_status" 
                                value="{{ customer.id }}" 
                                id="prev-button-{{ customer.id }}"
                                
                                {% if customer.current_status == "出勤前"%}disabled{% endif %}
                                >
                                戻す
                            </button>                    

                            <button 
                                type="submit" 
                                class="btn-sm mt-2" 
                                name="next_status" 
                                value="{{ customer.id }}" 
                                id="next-button-{{ customer.id }}"
                                
                                {% if customer.current_status == "退勤済"%}
                                disabled 
                                {% else %}
                                style="color: white; background-color: #329721;"
                                {% endif %}  
                                >
                                次へ
                            </button>   
                        {% endif %}       
                    </td>
                    <td class="text-center">               
                        {{customer.lunch | linebreaksbr }}
                    </td>
                    <td>
                        {{customer.morning_transport | linebreaksbr}}
                    </td>
                    <td>
                        {{customer.return_transport | linebreaksbr}}
                    </td>
                    {% if request.user.is_superuser %}
                    <td class="text-center">
                        <button id="edit-customer_btn-{{ customer.id }}" class="btn-sm text-nowrap" type="submit" name="edit_customer" value="{{ customer.id }}">
                            編集
                        </button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> -->

    <!-- <h2 class="mt-5">スタッフ情報</h2>
    <div class="table-responsive-md">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-header table-success">
                <tr class="text-center">
                    <th style="min-width: 85px;">スタッフ名</th>
                    <th style="min-width: 50px;">勤務</th>
                    <th style="min-width: 150px;">勤務地</th>
                    <th style="min-width: 70px;">お弁当</th>
                    <th style="min-width: 120px;">送迎(朝)</th>
                    <th style="min-width: 120px;">送迎(帰り)</th>
                    {% if request.user.is_superuser %}
                    <th style="width: 0;"></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for staff in info_by_staff %}
                <tr>
                    <td class="text-center">{{ staff.name }}</td>
                    <td class="text-center">{{ staff.status }}</td>
                    <td>
                        {% for place_and_time in staff.places_and_times %}
                        ・{{place_and_time.place}}
                        {% if place_and_time.time %}
                            <br>&nbsp;&nbsp;{{ place_and_time.time }}
                        {% endif %}
                        {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        {{staff.lunch | linebreaksbr}}
                    </td>
                    <td>
                        
                        {% for pickup_info in staff.pickup_list %}
                        <span class="table-name-width">・{{pickup_info.name}}</span>
                        {{pickup_info.place}}&nbsp;&nbsp;{{pickup_info.time}}&nbsp;&nbsp;{{pickup_info.car}}
                        {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                        
                    </td>
                    <td>
                        {% for dropoff_info in staff.dropoff_list %}
                        <span class="table-name-width">・{{dropoff_info.name}}</span>
                        {{dropoff_info.place}}&nbsp;&nbsp;{{dropoff_info.time}}&nbsp;&nbsp;{{dropoff_info.car}}
                        {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </td>
                    {% if request.user.is_superuser %}
                    <td class="text-center">
                        <button id="edit-staff_btn-{{ customer.id }}" class="btn-sm text-nowrap" type="submit" name="edit_staff" value="{{staff.id}}">
                            編集
                        </button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> -->
</form>

{% endblock %}