<!-- info.html -->

{% extends 'app/template_base.html' %}

{% load static %}

{% block title %}情報一覧{% endblock %}

{% block contents %}
<style>
    .nav-tabs>.nav-item>.nav-link {
        padding: 0.4rem !important;
    }
</style>

<script>
    // スクロール位置の復元 
    document.addEventListener("DOMContentLoaded", function () {
        const scrollToElementId = sessionStorage.getItem("scrollToElement"); 
        
        if (scrollToElementId) {
            const targetElement = document.getElementById(scrollToElementId); 
            if (targetElement) { 
                targetElement.scrollIntoView({ behavior: "smooth", block: "center" }); 
            } 
            
            // 位置情報をクリア 
            sessionStorage.removeItem("scrollToElement"); 
        }

        // 対象のボタンに対して
        document.querySelectorAll("button.scroll-save").forEach(button => {
            button.addEventListener("click", function () {
                sessionStorage.setItem("scrollToElement", this.id);
            });
        });
    });

    // 日付変更時
    document.addEventListener("DOMContentLoaded", function () {
        const dateInput = document.querySelector('#date-form input[type="date"]');

        if (!dateInput) return;

        dateInput.addEventListener('change', function () {
            if (!this.value) return;

            // info/<YYYY-MM-DD>/ に遷移
            const baseUrl = "{% url 'info' work_date='__DATE__' %}";
            const url = baseUrl.replace('__DATE__', this.value);

            window.location.href = url;
        });
    });

    document.addEventListener('click', function (e) {
        const btn = e.target.closest('.js-move');
        if (!btn) return;

        location.href = btn.dataset.url;
    });

</script>

<div class="wrapper">
    <div class="d-flex justify-content-end align-items-center gap-1">
        <form id="date-form" onsubmit="return false;">
            {{ calendar_form.date }}
        </form>
        <form action="{% url 'info' %}" method="get">
            <button class="btn-sm" type="submit">
                本日
            </button>
        </form>
    </div>

    <div class="table-responsive-md mt-2">
        <table class="table table-bordered">
            <tbody>
                <tr class="table-success">
                    <td class="d-flex justify-content-between align-items-start">
                        <div>
                            {{notice_form.instance.notice | linebreaksbr }}
                        </div>
                        <button type="button"
                            class="btn-sm scroll-save"
                            data-bs-toggle="modal"
                            data-bs-target="#noticeModal">
                            編集
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    {% if info %}
    <ul class="nav nav-tabs mt-2" id="tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-info" type="button"
                role="tab">
                全体情報
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="transport-tab" data-bs-toggle="tab" data-bs-target="#transport-info"
                type="button" role="tab">
                送迎情報
            </button>
        </li>
    </ul>
    {% else %}
    <div>
        <h2 class="mt-2">勤務データが存在しません</h2>
        {% if request.user.is_superuser %}
        <hr class="my-4">
        <form action="{% url 'create_records' work_date=work_date %}" method="post">
            {% csrf_token %}
            <div class="mt-1">
                <p>利用者・スタッフの曜日別の<br>登録データを元に勤務データを作成する<br>(通常はこちら)</p>
                <button class="btn-sm" type="submit">
                    実行
                </button>
            </div>
        </form>
        <hr class="my-4">
        <form action="{% url 'create_records_off_day' work_date=work_date %}" method="post">
            {% csrf_token %}
            <div class="mt-1">
                <p>全員休みの勤務データを作成する<br>(祝日・年末年始など)</p>
                <button class="btn-sm" type="submit">
                    実行
                </button>
            </div>
        </form>

        <hr class="my-4">

        {% endif %}
    </div>

    {% endif %}

    {% if info %}
    <div class="tab-content" id="infoTabContent">
        <!-- 全体情報 -->
        <div class="tab-pane fade show active" id="all-info" role="tabpanel">
            <div class="table-responsive-md">
                <table class="table table-bordered">
                    <tbody>
                    {% for place_info in info %}
                    {% if place_info.staff_list or place_info.customer_list %}
                    <!-- 場所名 -->
                    <tr class="{{place_info.color}}">
                        <td class="fs-5 fw-bold">
                            {{ place_info.place_name }}
                        </td>
                    </tr>
                    <!-- 備考を場所ごとに1行で表示 -->
                    {% if place_info.place_id > 0 %}
                    <tr class="{{place_info.color}}">
                        <td>
                            <div class="d-flex justify-content-between">
                                <div class="mb-1 fst-italic">
                                    [作業内容など]
                                    {{ place_info.remarks | linebreaksbr }}
                                </div>
                                <button type="button" class="js-move" data-url="{% url 'place_remarks_edit' place_info.place_id work_date %}">
                                    編集
                                </button>
                            </div>
                        </td>
                    </tr>    
                    {% endif %}
                    {% for staff in place_info.staff_list %}
                    <tr>
                        <td>
                            {% include "app/partials/member_cell.html" with member=staff member_type="staff" edit_url_name="staff_record_edit"%}
                        </td>
                    </tr>
                    {% endfor %}
                    {% for customer in place_info.customer_list %}
                    <tr>
                        <td>
                            {% include "app/partials/member_cell.html" with member=customer member_type="customer" edit_url_name="customer_record_edit"%}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 送迎情報 -->
        <div class="tab-pane fade" id="transport-info" role="tabpanel">
            <div class="table-responsive-md">
                <table class="table table-bordered">
                    <thead class="table-header text-center table-primary">
                        <tr>
                            <th>スタッフ名</th>
                            <th>朝の送迎</th>
                            <th>帰りの送迎</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in transport_table_rows %}
                        <tr>
                            <td>{{ row.staff.name }}</td>
                            <td>{{ row.morning_text|safe }}</td>
                            <td>{{ row.return_text|safe }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

        {% for place_info in info %}
            {% for staff in place_info.staff_list %}
                    {% include "app/partials/history_modal.html" with member=staff member_type="staff" %}
                    {% include "app/partials/current_status_modal.html" with member=staff member_type="staff" current_status_choices=current_status_staff_choices place_id=place_info.place_id %}
            {% endfor %}
            {% for customer in place_info.customer_list %}
                    {% include "app/partials/history_modal.html" with member=customer member_type="customer" %}
                    {% include "app/partials/current_status_modal.html" with member=customer member_type="customer" current_status_choices=current_status_customer_choices place_id=place_info.place_id %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    {% include "app/partials/notice_modal.html" %}
</div>

{% endblock %}