<!-- info.html -->

{% extends 'app/template_base.html' %}

{% load static %}

{% block title %}情報一覧{% endblock %}

{% block contents %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // スクロール位置の復元
        const scrollToElementId = sessionStorage.getItem("scrollToElement");
        if (scrollToElementId) {
            const targetElement = document.getElementById(scrollToElementId);
            if (targetElement) {
                targetElement.scrollIntoView({ behavior: "smooth", block: "center" });
            }
            sessionStorage.removeItem("scrollToElement");  // 位置情報をクリア
        }

        // 全体情報の作業内容の「編集」ボタンが押されたときの処理
        document.querySelectorAll("button[name='place_remarks_edit']").forEach(button => {
            button.addEventListener("click", function () {
                sessionStorage.setItem("scrollToElement", this.id);  // ボタンのIDを保存
            });
        });

        // 利用者の「編集」ボタンが押されたときの処理
        document.querySelectorAll("button[name='customer_record_edit']").forEach(button => {
            button.addEventListener("click", function () {
                sessionStorage.setItem("scrollToElement", this.id);  // ボタンのIDを保存
            });
        });

        // スタッフの「編集」ボタンが押されたときの処理
        document.querySelectorAll("button[name='staff_record_edit']").forEach(button => {
            button.addEventListener("click", function () {
                sessionStorage.setItem("scrollToElement", this.id);  // ボタンのIDを保存
            });
        });
    });
</script>

<div class="wrapper">

    <form action="{% url 'info_dispatch' work_date=work_date %}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-end">
            <div>
                {{ calendar_form.date }}
                <button class="btn-sm" type="submit" name="change_date" value="0">更新</button>
            </div>
        </div>
        {% if info %}
        <ul class="nav nav-tabs mt-2" id="tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-info" type="button"
                    role="tab">
                    全体情報
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link" id="transport-tab" data-bs-toggle="tab" data-bs-target="#transport-info"
                    type="button" role="tab">
                    送迎情報
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="log-tab" data-bs-toggle="tab" data-bs-target="#log-info"
                    type="button" role="tab">
                    操作履歴
                </button>
            </li>
        </ul>
        {% else %}
        <div>
            <h2>データが存在しません</h2>
            <button class="btn-sm" id="id_create_data" type="submit" name="create_records" value="0" 
                {% if not request.user.is_superuser %} disabled {% endif %}>
                データを作成する
            </button>
        </div>

        {% endif %}
    </form>

    {% if info %}

    <div class="tab-content" id="infoTabContent">
        <!-- 全体情報 -->
        <div class="tab-pane fade show active" id="all-info" role="tabpanel">
            <div class="table-responsive-md">
                <table class="table table-bordered">
                    <thead class="table-header text-center table-primary">
                        <tr>
                            <th>スタッフ</th>
                            <th>利用者</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for info in info %}
                            {% if info.staff_cusotmer_list %}
                                <!-- 場所名 -->
                                <tr class="{{info.color}}">
                                    <td colspan="2" class="fw-bold">
                                        {{ info.place_name }}
                                    </td>
                                </tr>
                                {% with info.staff_cusotmer_list|length as rowspan %}
                                    {% for staff, customer in info.staff_cusotmer_list %}
                                        {% if staff or customer %}
                                        <tr>
                                            <td>
                                                {% if staff %}
                                                <div>
                                                    <div class="mt-1">{{ staff.display | linebreaksbr }}</div>
                                                </div>  
                                                
                                                <div class="mt-1">
                                                    <form method="post" action="{% url 'info_dispatch' work_date=work_date %}">
                                                        {% csrf_token %}
                                                        <div class="d-flex gap-1">
                                                            {% if info.place_id > 0 %}
                                                            <button type="button"
                                                                class="btn btn-sm {{ staff.current_status_btn_class }}"
                                                                data-bs-toggle="modal" data-bs-target="#statusModal-{{ staff.id }}">
                                                                {{ staff.current_status_text }}
                                                            </button>                 
                                                            {% endif %}             
                                                            <button id="edit-staff_btn-{{ staff.id }}" class="btn-sm text-nowrap"
                                                                type="submit" name="staff_record_edit" value="{{ staff.id }}">
                                                                編集
                                                            </button>  
                                                        </div>                                      
                                                    </form>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if customer %}
                                                <div>
                                                    <div>{{ customer.display | linebreaksbr }}</div>
                                                </div>

                                                <div class="mt-1">
                                                    <form method="post" action="{% url 'info_dispatch' work_date=work_date %}">
                                                        {% csrf_token %}
                                                        <div class="d-flex gap-1 align-items-center">
                                                            {% if info.place_id > 0 %}
                                                            <button type="button"
                                                                class="btn btn-sm {{ customer.current_status_btn_class }}"
                                                                data-bs-toggle="modal" data-bs-target="#statusModal-{{ customer.id }}">
                                                                {{ customer.current_status_text }}
                                                            </button> 
                                                            {% endif %}                                             
                                                            <button id="edit-customer_btn-{{ customer.id }}" class="btn-sm text-nowrap"
                                                                type="submit" name="customer_record_edit" value="{{ customer.id }}">
                                                                編集
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <!-- 備考を場所ごとの下に1行で表示 -->
                                    {% if info.place_id > 0 %}
                                        <tr>
                                            <td colspan="2">
                                                    <div class="mb-1">
                                                        [備考]
                                                        {{ info.remarks | linebreaksbr }}
                                                    </div>
                                                    <form action="{% url 'info_dispatch' work_date=work_date %}" method="post">
                                                        {% csrf_token %} 
                                                        <button id="edit_place_remarks_btn-{{ info.place_id }}" class="btn-sm text-nowrap" type="submit" name="place_remarks_edit" value="{{ info.place_id }}"> 
                                                            編集 
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>    
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 送迎情報 -->
        <div class="tab-pane fade" id="transport-info" role="tabpanel">
            <div class="table-responsive-md">
                <table class="table table-bordered">
                    <thead class="table-header text-center table-primary">
                        <tr>
                            <th>スタッフ名</th>
                            <th>朝の送迎</th>
                            <th>帰りの送迎</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in transport_table_rows %}
                        <tr>
                            <td>{{ row.staff.name }}</td>
                            <td>{{ row.morning_text|safe }}</td>
                            <td>{{ row.return_text|safe }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
         <!-- 操作履歴 -->
        <div class="tab-pane fade " id="log-info" role="tabpanel">
            開発中です。
        </div>
    </div>

    {% for info in info %}
    {% for staff, customer in info.staff_cusotmer_list %}
    {% if staff %}
    {% include "app/partials/current_status_modal.html" with member=staff member_type="staff" current_status_choices=current_status_staff_choices place_id=info.place_id %}
    {% endif %}
    {% if customer %}
    {% include "app/partials/current_status_modal.html" with member=customer member_type="customer" current_status_choices=current_status_customer_choices place_id=info.place_id %}
    {% endif %}
    {% endfor %}
    {% endfor %}

    {% endif %}

</div>

{% endblock %}