<header>
  <nav class="navbar navbar-expand-md fixed-top" style="background-color: #329721;">
    <div class="container">
      <a href="{% url 'info' %}" class="navbar-brand" style="color: white;">SEVENTH FACTORY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link nav-link-custom" href="{% url 'info' %}">ホーム</a>
          </li>
          {% if request.user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link nav-link-custom" href="{% url 'customer_list' %}">利用者情報</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-custom" href="{% url 'staff_list' %}">スタッフ情報</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-custom" href="{% url 'output' %}">データ出力</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-custom" href="{% url 'sysad' %}">システム管理</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav mr-auto mb-2 mb-md-0">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link nav-link-custom dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">{{request.user.username}}</a>

            <ul class="dropdown-menu dropdown-menu-end">
              <li class="nav-item">
                <a class="dropdown-item" href="{% url 'password_change' %}">パスワード変更</a>
              </li>
              <li class="nav-item">
                <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
                  class="dropdown-item">
                  ログアウト
                </a>

                <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                  {% csrf_token %}
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>